/* Hero Section */
.hero-section {
    width: 100%;
    height: calc(100vh - 120px); /* Ajuste a altura da hero para cobrir uma parte maior da tela */
    background-image: url('../../img/RPG_item_store_logo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-section h1 {
    font-size: 3rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    color: #fff;
}

.hero-section p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
}

/* Lista de produtos */
ul.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 1200px;
    justify-content: center;
}

li.product-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
}

li.product-item:hover {
    transform: scale(1.05);
}
